$yellow: #ffff00;
$green: #19f62f;
$blue: #0000ff;

@mixin addConfigStyle($top, $bottom, $color) {
    margin-top: $top;
    margin-bottom: $bottom;
    background: $color
}

@mixin addPadding($top, $right, $bottom, $left) {
    margin: $top $right $bottom $left ;
}

.jumbotron {
    @include addConfigStyle(10px, 15px, $yellow);
    padding-bottom: 25px;
    @include addPadding(0, 0, 25px, 0)
}

.footer-address-icon {
    @include addPadding(0, 20px, 0, 0)
}

footer {
    @include addConfigStyle(20px, 0px, $yellow);
}

footer.row {
    margin: 0;
}

.card-hotel {
    padding: 0px;
}

.card-hotel .btn {
    width: 100%;
}

.card-img-bottom {

    height: 10em;
}

.tab-content {
    border: 1px solid #dee2e6;
    border-top: 0;
}

body {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.active.show.tab-pane#containerCardsPrices {
    display: flex;
}

.btn.rounded-circle {
    width: 25px;
    height: 25px;
    @include addPadding(0, 0, 0, 0);
    font-size: 15px;
}

.btn.rounded-circle>.oi-info {
    font-size: 13px;
}