.jumbotron {
  margin-top: 10px;
  margin-bottom: 15px;
  background: #ffff00;
  padding-bottom: 25px;
  margin: 0 0 25px 0;
}

.footer-address-icon {
  margin: 0 20px 0 0;
}

footer {
  margin-top: 20px;
  margin-bottom: 0px;
  background: #ffff00;
}

footer.row {
  margin: 0;
}

.card-hotel {
  padding: 0px;
}

.card-hotel .btn {
  width: 100%;
}

.card-img-bottom {
  height: 10em;
}

.tab-content {
  border: 1px solid #dee2e6;
  border-top: 0;
}

body {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.active.show.tab-pane#containerCardsPrices {
  display: flex;
}

.btn.rounded-circle {
  width: 25px;
  height: 25px;
  margin: 0 0 0 0;
  font-size: 15px;
}

.btn.rounded-circle > .oi-info {
  font-size: 13px;
}