@yellow: #ffff00;
@green: #19f62f;
@blue: #0000ff;

.margins(@top: 0px, @bottom: 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    .margins(10px, 15px);
    padding-bottom: 25px;
}

.footer-address-icon {
    padding-right: 20px;
}

footer {
    background: @yellow;
    .margins(20px);
}

footer>.row {
    margin: 0;
}

.card-hotel {
    padding: 0px;
}

.card-hotel .btn {
    width: 100%;
}

.card-img-bottom {

    height: 10em;
}

.tab-content {
    border: 1px solid #dee2e6;
    border-top: 0;
}

body {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.active.show.tab-pane#containerCardsPrices {
    display: flex;
}

.btn.rounded-circle {
    width: 25px;
    height: 25px;
    padding: 0;
    font-size: 15px;
}

.btn.rounded-circle>.oi-info {
    font-size: 13px;
}